.body-logo
    image "/img/body-logo.png"
    width 426px
    height 73px
    margin auto

.wanted-badly
    image "/img/wanted-badly.png"
    width 898px
    height 49px
    margin auto

.pane-text
    font-family    monospace
    text-transform uppercase
    color #fff

.pane-content
    text-align center
