.pane-content
    font-size 12px
    line-height 20px
    text-align center

.body-logo
    margin-bottom 3em

.wanted-badly
    margin-bottom 1.5em

.pane-text
    font-family    monospace
    text-transform uppercase
    color #fff

@media only screen and (min-width: 768px)

    .body-logo
        margin-bottom 0

    .wanted-badly
        margin-bottom 0

    .pane-text
        max-width 35em
        margin-left auto
        margin-right auto

@media only screen and (min-width: 1024px)

    .pane-content
        font-size 16px
        line-height 26px
