//--------------------
// Scroll Panes
//--------------------

.scroll-panes
    z-index scrollBgZIndex
    height 100%
    position absolute
    top 0
    width 100%

.scroll-bg--front
    position fixed
    top 0
    left 0
    overflow hidden
    z-index scrollFrontZIndex
    width 100%
    height 100%

.pane-1
    background-image url('https://farm8.staticflickr.com/7740/17342678630_66e4a35781_z_d.jpg')

.pane-2
    background-image url('https://farm8.staticflickr.com/7765/16907156624_843917e8e8_z_d.jpg')

.pane-3
    background-image url('https://farm8.staticflickr.com/2848/12252450536_0027b4e384_z_d.jpg')

.pane
    display table
    background-repeat no-repeat
    background-size auto 100%
    height 100%
    width  100%
    padding-top headerHeight
    box-sizing border-box

.pane-wrapper
    display table-cell
    vertical-align middle

.pane-text
    width 90%
    margin 0 5%
