.sign-up
    box-sizing: border-box

.sign-up--nav
    background #000

    &:hover
        color #fff

.sign-up--completed
    background signUpPink

    &, &:hover
        color #333

.sign-up--content
    background signUpPink

    // .sign-up--nav has these but this doesn't
    line-height navHeight
    text-transform uppercase
    text-decoration none
    color #333
    font-weight bold
    letter-spacing 2px

    display inline-block
    padding 0 40px
    min-width 285px
    margin-top 2em

    &:hover
        background #fff


// Landscape tablet
@media only screen and (min-width: 768px)
    .sign-up--content
        margin-top 0

// Landscape tablet
@media only screen and (min-width: 1024px)
    .sign-up--nav
        padding 0 10px
        width 155px

        &.sign-up--completed
            line-height normal
            padding-top 8px
            vertical-align top
            height 50px

// Desktops
@media only screen and (min-width: 1200px)
    .sign-up--nav
        width 205px
        padding 0 30px
