@import "../../bower_components/nib"
@import "../../bower_components/normalize.css/normalize.css"
@import "_h5bp.css"

scrollBgZIndex    =  1
scrollFrontZIndex = 10
headerZIndex      = 20

navHeight = 50px

signUpPink = #f4b9c8

socialSpriteImageWidth = 25px

@import "_header"
@import "_scroll-panes"
@import "_sign-up"
@import "_content"
@import "_social"
