@import "_normalize.css"
@import "_h5bp.css"

scrollBgIndex = -1

.scroll-bg
    z-index scrollBgIndex
    position fixed
    top 0
    left 0
    overflow hidden
    width 100%

    img
        width: 100%;
        display: block;