<div class="scroll-panes">

    <div class="pane pane-1">
        <div class="pane-content">
            <h1>Hello</h1>
            <p>Some more text</p>
            <p>And some more</p>
        </div>
    </div>

    <div class="pane pane-2">
        <div class="pane-content">
            <h2>2nd Pane</h2>
            <p>And some more</p>
        </div>
    </div>
    
</div>
